body {
  background-color: #f1f5f9;
  margin : 0;
}
.project-form {
  background-color: lightgrey;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #e2e8f0;
  width: 600px;
  margin: 20px auto;

}
